.wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  width: 80%;
  min-height: calc(100vh - 100px - 40px);
  margin: 0 auto;
  color: #00366f;

  h2 {
    margin-top: 40px;
    font-size: 22px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;

  article {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}